{% extends 'layouts/student.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-primary">{{ title }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Coins distributed for you</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Staff</th>
                        <th>Level</th>
                        <th>Coins</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in exts %}
                    <tr>
                        <td>{{ i.staff_profile.name }}</td>
                        <td>{{ i.level }}</td>
                        <td>{{ i.coin }}</td>
                        <td>{{ i.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}