{% extends 'layouts/staff.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-primary">{{ title }}</h2>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-12">
        <h4>New discussion</h4>
        <form action="{% url 'st-cr-discussion' %}" method="post" class="row">
            {% csrf_token %}
            <div class="form-group col-md-10 mb-3">
                <input type="text" name="name" required placeholder="Title for the discussion" id="name" class="form-control">
            </div>
            <div class="form-group col-md-2 mb-3">
                <button type="submit" class="btn btn-primary"><i class="bx bx-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-12">
        <h4>Discussion topics made by you</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in discussions %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.date }}</td>
                        <td><a href="{% url 'st-cr-discussion-fill-coins' x.id %}" class="btn btn-success btn-sm">Fill out coins</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}