{% extends 'layouts/admin.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-primary">{{ title }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-3">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Redeem</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in check_parti %}
                    <tr>
                        <td>{{ e.profile }}</td>
                        <td>{{ e.redeem }}</td>
                        <td>{{ e.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}